doctype html
html
  head
    title LKH DANCE WEBSITE
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                  img(src='/static_folder/logo.png')
                  |LDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Class Info]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
            |COPYRIGHT © 2022 | ALL RIGHT RESERVED 